<div class="container">
  <div class="badge badge-info text-wrap" style="width: inherit" >
    <span id="templateText"><%= template.text %></span><br>
  </div>
  <% @users.each do |user| %>
    <br>
    <div data-id="<%= user.id %>" class="user_row">
      <span id="user_name<%= user.id %>" ><%= user.user_name %></span>
      <br>
      <div class = "progressBar">
        <div class="bar" id="newBar" >
          <%=image_tag "car.jpg" ,width:50, height:42, class: "float-right"%><br>
          <div class="wpm">
            WPM : <p id="checkWpm<%= user.id %>"> 0 </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <%= form_for(@type_race_stat,url: type_race_path(@type_race_stat), remote:true) do |form| %>
      <%= content_tag :field,  data: {user_id: current_user.id} do %>
        <div class="form-group form-control-lg">
          <%= form.text_field :progress, class:  "form-control text", remote:true %>
        </div>
    <% end %>

    <div class="check">
      <span class ="match"> </span>
      <span class ="unmatch"></span>
    </div>

    <div class="hiddenField">
      <input type="hidden" id="text_id" value="<%= @type_race.id %>"  >
    </div>
  <% end %>

  <!----------------------------------------------------------------------------------------------------------------------------->

  <div class="input">
    <h1><span id="displayedText"></span>
      <span class ="match"> </span>
      <span class ="unmatch"></span>
    </h1>
  </div>
  <div>
    <div class="hidden" id="showAccuracy">
      <p >Accuracy : <span id="accuracy1"> 0 </span></p>
    </div>
    <%# end %>
  </div>

</div>
