<div class="container">
  <%= content_tag :div, id: "user_count", data:{ user_count: User.count} do %><%end %>
  <div class="badge badge-info text-wrap" style="width: inherit" >
    <span id="templateText"><%= template.text %></span><br>
  </div>
  <span id="user_name"><%= @user.user_name %></span>
  <% if @type_race.user_1_id == 1 %>
    <div class = "progressBar1">
      <div id="newBar1">
        <%=image_tag "car.jpg" ,width:50, height:42, class: "pull-right"%>
      </div>
    </div>
  <%end %>
  <% if @type_race.user_2_id == 2 %>
    <div class = "progressBar2">
      <div id="newBar2">
        <%=image_tag "car.jpg" ,width:50, height:42, class: "pull-right"%>
      </div>
    </div>
  <% end %>
  <br>
  <%= form_for(@type_race, remote:true) do |form| %>
    <% if current_user.id == @type_race.user_1_id %>
      <%= content_tag :field,  data: {user_id: current_user.id} do %>
        <div class="form-group form-control-lg">
            <%= form.text_field :user_1_progress, class:  "form-control text", remote:true %>
        </div>
      <% end %>
    <% end %>

    <% if current_user.id == @type_race.user_2_id %>
      <%= content_tag :field, data: {user_id: current_user.id} do %>
        <div class="form-group form-control-lg">
            <%= form.text_field :user_2_progress, class:  "form-control text", remote:true %>
        </div>
      <% end %>
    <% end %>

    <div class="check">
      <span class ="match"> </span>
      <span class ="unmatch"></span>
    </div>

    <div class="hiddenField">
      <input type="hidden" id="text_id" value="<%= @type_race.id %>"  >
    </div>

  <% end %>

  <!----------------------------------------------------------------------------------------------------------------------------->

  <div class="input">
    <h1><span id="displayedText"></span>
      <span class ="match"> </span>
      <span class ="unmatch"></span>
    </h1>
  </div>
  <div>
    <% if current_user.id == @type_race.user_1_id %>
      <p class="wpm">WPM : <span id="checkWpm1"> 0 </span></p>
      <div class="hidden" id="showAccuracy">
        <p >Accuracy : <span id="accuracy1"> 0 </span></p>
      </div>
    <% else %>
      <p class="wpm">WPM : <span id="checkWpm2"> 0 </span></p>
      <div class="hidden" id="showAccuracy">
        <p >Accuracy : <span id="accuracy2"> 0 </span></p>
      </div>
    <% end %>
  </div>

</div>
