<%= render 'users' %>
<%= hidden_field_tag :current_id, params[:id] %>
<%= content_tag "div", id: "type_race_status", 'data-type_race_status' => @type_race.status do %><% end %>
<% if @type_race.status == "pending" %>
  <%= render 'waiting' %>
<% else %>
  <%= render 'found', template: @templates %>
<%end %>
<button type="button" class="btn btn-dark">
<%= link_to 'Back' , type_races_index_path%>
</button>
