<!DOCTYPE html>
<html>
<head>
  <title>Nepalityperacer</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application'%>
</head>

<!--  <body data-controller="<%#= controller_name %>" data-action="<%#= action_name%>">-->
<body>
<%= content_tag :body, data: { action: action_name, controller: controller_name } do %>
  <div class="navbar navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><%= link_to "Logged in as #{current_user.email}", root_path,  class: "active" %></li>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to("Sign In", new_user_session_path, class: "active")%></li>
      <li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
    <% end %>
  </div><!-- /.navbar-collapse -->
  <div class="container">
    <% flash.each do |message,message_type| %>
      <div class="alert alert-<%= message%>"><%= message_type %></div>
    <%end %>
    <%= yield %>
  </div>
  </body>
<%end %>
</html>
