<!DOCTYPE html>
<html>
<head>
  <title>Nepalityperacer</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application'%>
</head>

<!--  <body data-controller="<%#= controller_name %>" data-action="<%#= action_name%>">-->
<body>
<%= content_tag :body, data: { action: action_name, controller: controller_name } do %>
  <nav class="navbar navbar-expand-md bg-light navbar-right  sticky-top">
    <% if user_signed_in? %>
      <a class="nav-link"><%= link_to "Logged in as #{current_user.email}", root_path %> </a>
      <a class="nav-link"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></a>
    <% else %>
      <a class="nav-link"><%= link_to("Sign In", new_user_session_path)%></a>
      <a class="nav-link"><%= link_to "Sign Up", new_user_registration_path %></a>
    <% end %>
  </nav><!-- /.navbar-collapse -->
  <div class="container">
    <% flash.each do |message,message_type| %>
      <div class="alert alert-<%= message%>"><%= message_type %></div>
    <%end %>

    <%= yield %>
  </div>
  </body>
<%end %>
</html>
